.img-responsive {
  width:100%;
}

.img-thumbnail {
  padding:0;
}

.img-thumbnail .caption-full {
  padding:10px;
}

.border div {
  padding:10px;
  margin:5px;
}

#deleted {
  display:inline;
}
